@mixin gradient($deg, $color1, $color2, $color3) {
  background: linear-gradient($deg, $color1, $color2, $color3);
}

@mixin gradient2($color1, $color2){
  background: linear-gradient($color1, $color2);
}