@use 'abstracts/variables' as var;
@use 'base/typography';
@use 'abstracts/mixins' as mix;
@use 'layout/pronostico';


@use '../../node_modules/bootstrap/scss/bootstrap.scss' with(
   $primary: var.$primary,
   $secondary: var.$secondary,
   $warning: var.$warning,
   $danger: var.$danger,
   $light: var.$light,
   $dark: var.$dark
);

header, footer{
  @include mix.gradient(45deg, var.$primary, var.$sky-light 50%, var.$sky-dark )
}

.navbar-custom-text .nav-link,
.navbar-custom-text .navbar-brand {
  color: var.$text-light;
  font-weight: 600;
  font-size: 1.2rem;
}

.hero__btn, .form__btn{
  @include mix.gradient2(var.$danger-light, var.$danger)
}

.btn-detalle{
  @include mix.gradient2(var.$primary, var.$sky-light)
}

/* .pronostico{
  
    background-color: var.$light;
  
}

.pronostico{
  @include bootstrap.color-mode(dark){
    background-color: var.$sky-dark;
  }
} */

.pronostico {
  background-color: var.$light; // Tu color base

  // INTENTA ESTO MANUALMENTE (sin el mixin)
  // Esto simula exactamente lo que el mixin debería hacer
  @at-root [data-bs-theme="dark"] & {
     background-color: var.$sky-dark !important; // Usa un color obvio y !important para probar
  }
}

.top__btn {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 50;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.show {
  opacity: 1;
}

.contacto__form{
  max-width: 600px;
}